__pycache__/
*.pyc
*.pyo
.git/
.gitignore
.env
.env.*
.seadex-key
data/
config.json
secrets.enc.json
auth.json
anilist_cache.json
last_results.json
*.md
docker-compose.yml
Dockerfile
.dockerignore
.vscode/
logs/
notified.json
frontend/node_modules/
node_modules/
dist/
static/
